

form {
    border: 1px solid red;
    width: 30%;
    padding: 20px;
    margin: 10px 15px;
    left: 50%;
    top: 30%;
    position: absolute;
}

input {
    margin-left: 5px;
    height: 30px;
    border-radius: 4px;
}

::placeholder {
    text-align: left;
    padding-left: 6px;
    font-size: 1.075em; 
 }
 
 /* or, for legacy browsers */
 
 ::-webkit-input-placeholder {
    text-align: left;
    padding-left: 6px;
    font-size: 1.075em; 
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: left;  
    padding-left: 6px;
    font-size: 1.075em; 
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: left; 
    padding-left: 6px;
    font-size: 1.075em;  
 }
 
 :-ms-input-placeholder {  
    text-align: left;
    padding-left: 6px;
    font-size: 1.075em;  
}

.btn {
    
}

.labelForm {
    color: #37302F;
}


