.logo_cartao {
    margin-left: 30px;
}

.card-front {
    background-image: url("../../images/bg-card-front.png");
    background-repeat: no-repeat;
    width: 61%;
    height: 26%;
    margin-right: 18%;
    padding-top: 24px;
    border: 1px solid red;
}



