* {
    margin: 0;
    padding: 0;
}

.App {
    background-image: url("./images/bg-main-desktop.png");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 30%;
    height: 980px;
    border: 1px solid red;
  }